.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  /* border: 1px solid #000; */
  background-color: #263238;
}
.header img {
  width: 30px;
  height: 30px;
}

.container {
  width: 1200px;
  padding: 0px 10px 0 38px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 980px;
    padding: 0px 15px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
  }
}
